@font-face {
    font-family: Inter;
    src: url(resources/fonts/Inter-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Inter;
    src: url(resources/fonts/Inter-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: url(resources/fonts/Inter-Medium.ttf);
    font-weight: 500;
}

body{
    background-color: #000000;
    margin: 0;
    color: #FFFFFF;
    font-family: Inter;
    overflow: hidden;
}
.topnav{
    width: 100vw;
    align-items: center;
    min-height: 7vh
}
.center-items{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    min-height: 7.22vh;
    vertical-align: middle;
}
.topnav a{
    text-align: center;
    margin: 1.46vw 1.46vw 0 1.46vw;
    font-size: 2.869vh;
    text-decoration: none;
    color: #FFFFFF;
    width: auto;
}
.topnav img{
    float: left;
    margin-right: auto;
    height: 7.22vh;
}
.topnav a:hover{
    filter: drop-shadow(0 0 0.717vh #FFFFFF);
    cursor: pointer;
}

.centerArea{
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}
.providerImg{
    object-fit: cover;
    height: 11.47vh;
    margin: 1.46vw;
}
h1{
    font-size: 14vh;
    font-weight: bold;
    margin: 0;
}
.mainImg{
    max-height: 50vh;
    max-width: 90vw;
}
@media screen and (max-width: 700px){

  #logo{
    display: none;
  }
  h1{
    font-size: 20vw;
  }
  .providerImg{
    max-width: 80vw;
  }
}
