@font-face {
    font-family: Inter-bold;
    src: url(resources/fonts/Inter-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Inter-semibold;
    src: url(resources/fonts/Inter-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Inter-medium;
    src: url(resources/fonts/Inter-Medium.ttf);
    font-weight: 500;
}

body{
    background-color: #000000;
    margin: 0;
    color: #FFFFFF;
    overflow: hidden;
}
nav{
    width: 100vw;
    height: 10vh;
}
nav ul{
    text-align: center;
    text-decoration: none;
    padding: 0;
}
nav ul li{
    display: inline-block;
    padding: 1vh;
    font-family: Inter-bold;
    font-size: 2vh;
}
nav ul li:hover{
    filter: drop-shadow(0 0 10px#FFFFFF);
    cursor: pointer;
}
.content{
    display: flex;
    width: 100vw;
    height: 90vh;
}
.imageArea{
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: left;
}
.imageArea img{
    margin-top: auto;
    min-height: 75vh;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}
.headerArea{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerArea h1{
    font-family: Inter-bold;
    font-size: 8vh;
    margin: 0;
    margin-bottom: 2vh;
}
.headerArea img{
    width: 30vh;
    margin-bottom: 2vh;
}
.bottomArea{
    width: 100vw;
    height: 10vh;
}

@media only screen and (max-width: 1300px) {
    .content{
        flex-direction: column;
    }
    .imageArea{
        margin: 0;
        width: 100vw;
        height: 60%;
        justify-content: center;
    }
    .imageArea img{
        max-width: 90vw;
        height: auto;
        min-height: 0;
    }
    .headerArea{
        width: 100vw;
        height: 40%;
    }
    .headerArea h1{
        font-size: 15vw;
    }
    .headerArea img{
        width: 40vw;
        margin-bottom: 2vh;
    }
}
@media (min-width:700px) and (max-width:1299px) {
    .headerArea h1{
        font-size: 10vh;
    }
    .headerArea img{
        width: 30vh;
        margin-bottom: 2vh;
    }
}​